@tailwind base;
@tailwind components;

html, body {
  @apply p-0 m-0 font-sans
}

.btn {
  &:focus {
    @apply outline-none shadow-outline
  }
}

// removes arrows in type="number" inputs
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Owls */
$sizes: 0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 16, 20, 24, 32, 40, 48, 56, 64, px;
@each $size in $sizes {
  .o-#{$size} > * + * {
    @apply mt-#{$size}
  }
  .ox-#{$size} > * + * {
    @apply ml-#{$size}
  }
}
+author-images

main > div:nth-child(even) {
  @apply bg-gray
}

header {
  h2 {
    @apply text-4xl uppercase
  }
  h3 {
    @apply text-3xl font-narrow uppercase
  }
}

.typeset {
  @apply text-base
  * + *,
  ul li {
    @apply ml-6
  }
  h1 {
    @apply text-3xl
    &:not(:first-child) {
      @apply mt-20
    }
  }
  h2 {
    @apply text-2xl
    &:not(:first-child) {
      @apply mt-16
    }
  }
  h3 {
    @apply text-xl
    &:not(:first-child) {
      @apply mt-12
    }
  }
  h4 {
    @apply text-lg
    &:not(:first-child) {
      @apply mt-10
    }
  }
  ul li,
  ol li {
    @apply ml-8
  }
  ul li {
    list-style-type: disc;
  }
  ol li {
    list-style-type: octal;
  }
}


@tailwind utilities;
